$primary: #9089E4;
$danger: red;
$secondary: #544CB5;
$forms:#E2E2E2;
button{
    background-color: $secondary;
    color:white;
}
.col-sel{
    background-color: #E2E2E2;
    color: #544CB5;
    border: 2px;
    border-color:#9089E4; 
}

.hover-button-primary{
    color:$forms;
  
  }

.hover-button-alternative:hover{
    color:$primary!important;
}
  