<h2 class="mb-5">Mis grupos</h2>

<div *ngFor="let grupo of grupos; let i = index">
    <div *ngIf="i===this.grupoSeleccionado; else otherButton">
        <button (click)="this.sendSelectedGroup(i)" class="btn align-self-center mb-2">{{grupo.nombre}}</button>
    </div>

    <ng-template #otherButton>
        <button (click)="this.sendSelectedGroup(i)"
            class="btn align-self-center col-sel  mb-2">{{grupo.nombre}}</button>
    </ng-template>
</div>

<br>
<button type="submit" class="btn align-self-center">+ Crear grupo</button>