<div class="d-flex align-items-center">
    <div class="">
        <h2 class="mb-4">Miembros</h2>

        <p *ngFor="let miembro of grupo.usuarios; let i = index">
            <mat-icon class="align-middle secondary">account_circle</mat-icon> {{miembro.nombre_usuario}}
        </p>

        <div class="mb-3">
            <button type="submit" class="btn mb-3 mr-2">
                <mat-icon class="align-middle white">add_circle</mat-icon> Añadir Miembro
            </button>
            <button type="submit" class="btn align-self-center mb-3">
                <mat-icon class="align-middle white">remove_circle</mat-icon> Eliminar Miembro
            </button>
        </div>
    </div>
</div>