
<!-- <div class="divider">
     -->
     <div class="row gx-5 gy-5">
<form class="col-md-6">
    <h1 style="color: $primary;">💬Psyfos</h1>
    <h3>Bienvenido de nuevo.</h3>
    <!-- Email input -->
    <div class="form-outline mb-4">
        <label class="form-label" for="form1Example1">Correo Electrónico</label>
        <input type="email" id="form1Example1" placeholder="Introduce tu correo aquí..." class="form-control" />
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form1Example2">Contraseña</label>
      <input type="password" id="form1Example2" placeholder="Introduce tu contraseña aquí..." class="form-control" />
    </div>
  
    <!-- Submit button -->
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn align-self-center">Acceder</button>
    </div>
  </form>


  <form class="col-md-6 p-3">
    <h3>¿Sin cuenta?</h3>
      <!-- Email input -->
    <div class="form-outline mb-4">
          <label class="form-label" for="form1Example1">Dinos cómo te llamas</label>
          <input type="text" id="form1Example1" placeholder="Introduce tu correo aquí..." class="form-control" />
    </div>
    
      <!-- Password input -->
    <div class="form-outline mb-4">
        <label class="form-label" for="form1Example2">¿Cuál es tu email?</label>
        <input type="email" id="form1Example2" placeholder="Introduce tu email aquí..." class="form-control" />
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form1Example2">Escoge tu contraseña</label>
      <input type="password" id="form1Example2" placeholder="Introduce tu contraseña aquí..." class="form-control" />
  </div>
    
      <!-- Submit button -->
    <div class="d-flex justify-content-center">
          <button type="submit" class="btn align-self-center">Registrarse</button>
    </div>

    <p class='py-2'>Al registrarte, aceptas que Psyfos trate tus datos de acuerdo a su Política de Privacidad.</p>
  </form>
</div>
  <!-- </div> -->
