<h1 class="secondary" style="font-weight: bolder;">
  <mat-icon class="primary">forum</mat-icon> Psyfos
</h1>

<div class="row gx-5 gy-5">

  <form #userlogin="ngForm" class="col-md-6 p-3" (ngSubmit)="makeLogin();">

    <h3>Bienvenido de nuevo.</h3>
    <!-- Email login input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="loginEmailForm">Correo Electrónico</label>
      <input type="email" id="loginEmailForm" placeholder="Introduce tu correo aquí..." class="form-control"
        [(ngModel)]="loginEmail" #loginEmailForm="ngModel" name="loginEmailForm"
        [ngClass]="{'is-invalid' : !validateLoginEmail() && (loginEmailForm.dirty || loginEmailForm.touched)}" />
      <div class="invalid-feedback" *ngIf="!validateLoginEmail() && (loginEmailForm.dirty || loginEmailForm.touched)">
        Comprueba que tu correo electrónico es correcto.</div>
    </div>

    <!-- Password login input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="loginPasswordForm">Contraseña</label>
      <input type="password" id="loginPasswordForm" placeholder="Introduce tu contraseña aquí..." class="form-control"
        name="loginPasswordForm" #loginPasswordForm="ngModel"
        [ngClass]="{'is-invalid' : !validateLoginPassword() && (loginPasswordForm.dirty || loginPasswordForm.touched)}"
        [(ngModel)]="loginPassword" />
      <div class="invalid-feedback"
        *ngIf="!validateLoginPassword() && (loginPasswordForm.dirty || loginPasswordForm.touched)">
        Comprueba que tu contraseña está bien escrita.</div>
    </div>


    <div id="login-alert" class="alert alert-danger" [hidden]="!errorLogin">
      Las <strong> credenciales son incorrectas</strong> Introdúzcalas de nuevo por favor.
    </div>

    <!-- Submit login button -->
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn align-self-center">Acceder</button>
    </div>
  </form>


  <form class="col-md-6 p-3 vl" #userRegister="ngForm" (ngSubmit)="makeRegister();">
    <h3>¿Sin cuenta?</h3>
    <!-- Name register input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="registerNameForm">Dinos cómo te llamas</label>
      <input type="text" id="registerNameForm" placeholder="Introduce tu nombre aquí..." class="form-control"
        name="registerNameForm" #registerNameForm="ngModel" [(ngModel)]="registerName"
        [ngClass]="{'is-invalid' : !validateRegisterName() && (registerNameForm.dirty || registerNameForm.touched)}" />
      <div class="invalid-feedback"
        *ngIf="!validateRegisterName() && (registerNameForm.dirty || registerNameForm.touched)">
        Los nombres no pueden contener números.</div>
    </div>

    <!-- Email register input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="registerEmailForm">¿Cuál es tu email?</label>
      <input type="email" id="registerEmailForm" placeholder="Introduce tu email aquí..." class="form-control"
        name="registerEmailForm" #registerEmailForm="ngModel" [(ngModel)]="registerEmail"
        [ngClass]="{'is-invalid' : !validateRegisterEmail() && (registerEmailForm.dirty || registerEmailForm.touched)}" />
      <div class="invalid-feedback"
        *ngIf="!validateRegisterEmail() && (registerEmailForm.dirty || registerEmailForm.touched)">
        Comprueba que tu correo electrónico está bien escrito.</div>
    </div>

    <!-- Password register input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="registerPasswordForm">Escoge tu contraseña</label>
      <input type="password" id="registerPasswordForm" placeholder="Introduce tu contraseña aquí..."
        class="form-control" name="registerPasswordForm" #registerPasswordForm="ngModel" [(ngModel)]="registerPassword"
        [ngClass]="{'is-invalid' : !validateRegisterPassword() && (registerPasswordForm.dirty || registerPasswordForm.touched)}" />
      <div class="invalid-feedback"
        *ngIf="!validateRegisterPassword() && (registerPasswordForm.dirty || registerPasswordForm.touched)">
        Comprueba que tu contraseña está bien escrita.</div>
    </div>

    <div class="alert alert-danger" [hidden]="!errorRegister">
      Las <strong> datos son incorrectas</strong> revísalos de nuevo por favor.
    </div>


    <!-- Submit register button -->
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn align-self-center">Registrarse</button>
    </div>

    <p class='py-2'>Al registrarte, aceptas que Psyfos trate tus datos de acuerdo a su Política de Privacidad.</p>
  </form>
</div>