$primary: #9089E4;
$danger: red;
$secondary: #544CB5;
$forms:#E2E2E2;
button{
    background-color: $secondary;
    color:white;
}

input{
    background-color:$forms;
    
}
button:hover{
    color:$forms;

}

.vl {
    border-top:    1px solid white;
    border-bottom: 3px solid white;
    border-left:   2px solid  #9089E4;
  }