<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h3 *ngIf="!this.votacionTerminada">{{getTituloPregunta()}}</h3>
            <h4 style="color:#544CB5;" *ngIf="!this.votacionTerminada">Pregunta {{getNumeroPregunta()+1}} de
                {{getNumeroTotalPreguntas()}}
            </h4>
            <h4 *ngIf="this.votacionTerminada">Muchas gracias por participar.</h4>
            <div class="panel-body" *ngIf="!this.votacionTerminada">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let opcion of getOpciones();">
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios">
                                {{opcion.enunciado}}
                            </label>
                        </div>

                    </li>
                </ul>
            </div>
            <div class="mt-2">
                <button *ngIf="!this.votacionTerminada" type="button" class="btn btn-success "
                    (click)="siguientePregunta(); ">Votar</button>
                <button style="display: inline;float:right" class="btn btn-danger" type="button"
                    routerLink="/dashboard">Salir de la votación
                </button>
            </div>

            <!-- Final de la votación -->
            <div *ngIf="this.votacionTerminada">
                <div style="padding: 5%" *ngFor="let pregunta of getPreguntas(); let p = index;">
                    <h5>{{pregunta.enunciado}}</h5>
                    <div *ngFor="let opcion of pregunta.opciones;">
                        <strong>{{opcion.enunciado}}</strong><span class="pull-right">{{opcion.votos}}</span>

                        <div class="progress">
                            <div class="progress-bar bg-success"
                                [ngStyle]="{'width.%': opcion.votos/getTotalVotos(p)*100}">
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>