

<h1>{{grupo.nombre}}</h1>
<p>{{grupo.descripcion}}</p>

    <button type="submit" class="btn align-self-center">Entrar en el chat grupal</button>

    <button type="submit" class="btn align-self-center">Salir del grupo</button>

<p class="col-md-4 p-3" style="font-weight: bold;">Votaciones</p>

<div *ngFor="let votacion of grupo.votaciones; let i = index" style="">
    {{votacion.titulo}}
    <br>
    
        <button type="submit" class="btn align-self-center">Votar</button>
        <button type="submit" class="btn align-self-center">Editar</button>

        <button type="submit" class="btn align-self-center">Eliminar</button>

</div>
