<div class="">
    <h1>{{grupo.nombre}}</h1>
    <p>{{grupo.descripcion}}</p>

    <div class="mb-3">
        <button type="submit" class="btn mr-2">🗨️ Chatear</button>
        <button type="submit" class="btn">- Salir del grupo</button>
    </div>

    <p class="col-md-4" style="font-weight: bold;">Votaciones</p>

    <div *ngFor="let votacion of grupo.votaciones; let i = index">

        <div class="votacion">
            {{votacion.titulo}}
            <br>

            <button type="submit" routerLink="/voto" class="btn mr-2">📥Votar</button>
            <button type="submit" class="btn mr-2">📝Editar</button>
            <button type="submit" class="btn mr-2">- Eliminar</button>
        </div>
    </div>
</div>