<div class="bg-primary py-5">

    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="col-md-12 col-xl-9" style="max-width: 70rem;">
            <div class="row">
                <div class="col-xl-3 col-sm-6">
                    <div class="card-layout mini-card p-3 mb-3" routerLink="/" role="button">
                        <mat-icon class="align-bottom primary">home</mat-icon>
                        <p>
                            Página Principal
                        </p>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6" routerLink="/" role="button">
                    <div class="card-layout mini-card p-3 mb-3">
                        <mat-icon class="align-bottom primary">support</mat-icon>
                        <p>
                            Ayuda</p>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6" routerLink="/" role="button">
                    <div class="card-layout mini-card p-3 mb-3">
                        <mat-icon class="align-bottom primary">settings</mat-icon>
                        <p> Ajustes</p>
                    </div>
                </div>

                <div class="card-layout mini-card p-3 mb-3 red_hover">
                    <p>
                        <mat-icon class="align-middle white">close</mat-icon> Cerrar sesión
                    </p>
                </div>
            </div>


        </div>
        <div class="card-layout p-4">
            <router-outlet></router-outlet>
        </div>
    </div>


</div>