$primary: #9089E4;
$danger: red;
$secondary: #544CB5;

.card-layout {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 30px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 20px;
}

@import "bootstrap";