<div class="bg-primary py-5 h-100">

    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="col-md-10 col-xl-8" style="max-width: 60rem;">
            <div class="row">
                <div class="col-xl-3 col-sm-6">
                    <div class="card-layout mini-card p-3 mb-3" routerLink="/" role="button">
                        <p>
                            Página Principal
                        </p>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6" routerLink="/" role="button">
                    <div class="card-layout mini-card p-3 mb-3">
                        <p>❓ Ayuda</p>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6" routerLink="/" role="button">
                    <div class="card-layout mini-card p-3 mb-3">
                        <p>⚙️ Configuración</p>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6" routerLink="/login">
                    <div class="card-layout mini-card p-3 mb-3 red_hover" s>
                        <p>✖ Cerrar sesión</p>
                    </div>
                </div>

            </div>
            <div class="card-layout p-4">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>