<div class="bg-primary py-5">




    <div class="d-flex justify-content-center align-items-center h-100">

        <div class="col-md-8">

            <div class='d-flex justify-content-center align-items-center h-100  margin'>
                <div class="card-layout p-3  justify-content-center mini-card">
                    <h4 style="font-size: 1.5vw;">⬅ Atrás</h4>
                </div>
                <div class="card-layout p-3 justify-content-center mini-card">
                    <h4 style="font-size: 1.5vw;">❓ Ayuda</h4>
                </div>
                <div class="card-layout p-3  justify-content-center mini-card">
                    <h4 style="font-size: 1.5vw;">⚙️ Configuración</h4>
                </div>
                <div class="card-layout p-3  justify-content-center mini-card">
                    <h4 style="font-size: 1.5vw;">✖ Cerrar sesión</h4>
                </div>
            </div>
        </div>
        <div class=" card-layout p-4">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>