<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">💬Psyfos</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active" routerLink="/login">
        <a class="nav-link btn">Login / Registro</a>
      </li>
    </ul>
  </nav>
</header>


<main role="main">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="first-slide slide-image" src="assets/carousel_1.jpg" alt="la solucion a tus problemas">
        <div class="container">
          <div class="carousel-caption text-left">
            <h1>La solución a tus problemas</h1>
            <p>¿Alguna vez te has lamentado de que la aplicación que usar para hablar con tus amigos no tiene
              votaciones? ¿Y si pudieras tener todo en una misma app? Psyfos soluciona el problema que muchos españoles
              sufren todos los días. </p>
            <p><a class="btn btn-lg btn-primary" routerLink="/login" role="button">¡Empieza ahora!</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="second-slide slide-image" src="assets/carousel_2.jpg" alt="aclamado por nuestros usuarios">
        <div class="container">
          <div class="carousel-caption">
            <h1>Aclamado por nuestros usuarios</h1>
            <p>El 98% de los usuarios que prueban nuestra aplicación tienen una experiencia positiva y lo recomendarían
              a sus amigos. ¡Descubre la nueva aplicación de la que todo el mundo está hablando!</p>
            <p><a class="btn btn-lg btn-primary" routerLink="/login" role="button">¡No esperes más!</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="third-slide slide-image" src="assets/carousel_3.png" alt="lideres en nuestro sector">
        <div class="container">
          <div class="carousel-caption text-right">
            <h1>Líderes en nuestro sector.</h1>
            <p>Ponemos al usuario en el centro de todas nuestras decisiones, para nosotros eres lo más importante.</p>
            <p><a class="btn btn-lg btn-primary" routerLink="/login" role="button">Descubre cómo</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle mb-3" src="assets/chat.png" alt="chat grupal" width="140" height="140">
        <h2>Discute en el chat grupal</h2>
        <p>En vuestro chat privado podréis discutir acerca de los temas que prefiráis. Establece una jerarquía de roles
          para personalizar la experiencia a las necesidades de tu grupo.</p>
        <p><a class="btn btn-secondary" href="#" role="button">Acerca del Chat &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle mb-3" src="assets/thumbs_up.png" alt="votaciones" width="140" height="140">
        <h2>Participa en votaciones</h2>
        <p>Crea votaciones fácilmente de forma online, sin necesidad de salir de casa. Podrás añadir toda variedad de
          distintas preguntas, incluso votos anónimos.</p>
        <p><a class="btn btn-secondary" href="#" role="button">Acerca de las Votaciones &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle mb-3" src="assets/cara_felis.png" alt="seguridad" width="140" height="140">
        <h2>Seguridad garantizada</h2>
        <p>Tanto vuestras conversaciones como votaciones están cifradas para que no tengas que preocuparte de tu
          privacidad.</p>
        <p><a class="btn btn-secondary" href="#" role="button">Acerca del Cifrado &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Elena Ortiz, 20 años <span class="text-purple">Delegada</span></h2>
        <p class="lead">Gracias a Psyfos puedo he mejorado mucho la comunicación con los estudiantes.
          Me permite crear encuestas customizables de forma sencilla y rápida. Llego a todo el alumnado y puedo analizar
          los resultados al instante.
        </p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="assets/elena_ortiz.webp" alt="Elena Ortiz">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Alfonso Ramos, 47 años <span class="text-purple">Entrenador de baloncesto</span>
        </h2>
        <p class="lead">La comunicación con mis jugadores siempre ha sido complicada. Siempre me ha costado hacerles
          llegar los mensajes y que me hicieran caso.
          Sin embargo, todo eso ha cambiado gracias a Psyfos! Gracias a su fantástico chat integrado puedo hablar
          directamente con mi equipo, y si necesitamos decidir algo,
          las votaciones nos vienen genial.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" src="assets/alfonso_ramos.png" alt="Alfonso Ramos">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Francisco Ruiz, 67 años <span class="text-purple">Jubilado</span></h2>
        <p class="lead">Es una aplicación excelente. Me ha permitido mantenerme en contacto con mi comunidad de vecinos
          y participar
          en las votaciones. Es fácil de usar.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="assets/francisco_ruiz.webp"
          alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

  </div>

  <!-- FOOTER -->
  <footer class="container mb-5">
    <p class="float-right"><a class="text-purple-dark" href="#">Back to top</a></p>
    <p class="">&copy; 2021 Psyfos. &middot; <a class="text-purple-dark" href="#">Privacidad</a> &middot; <a
        class="text-purple-dark" href="#">Términos</a></p>
  </footer>
</main>