$primary: #9089E4;
$danger: red;
$secondary: #544CB5;
$forms:#E2E2E2;
button{
    background-color: $secondary;
    color:white;
}

input{
    background-color:$forms;
}

.divider{
    display: flex;
}



.logo{
    font-weight:bold;
    color: $primary;
}